@media (min-width: 500px) {
  .footer-main-container {
     height: 8vh;  
  }
  .footer-sub-container {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .footer-main-container {
    height: 8vh;  
 }
 .footer-sub-container {
   flex-direction: column;
}
}
