<div class="footer-container">
  <div class="container">
    <span class="copyright">©2021 ISKCON Grand Rapids. All Rights Reserved.   </span>
    <ul class="noLightbox social_bookmarks icon_count_4">
      <li class="social_bookmarks_facebook av-social-link-facebook social_icon_1">
          <a target="_blank" aria-label="Link to Facebook" href="https://www.facebook.com/IskconGrandRapids" aria-hidden="false" data-av_icon="" data-av_iconfont="entypo-fontello" title="Facebook" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
      <li class="social_bookmarks_youtube av-social-link-youtube social_icon_2">
          <a target="_blank" aria-label="Link to Youtube" href="https://www.youtube.com/user/kishorekishori" aria-hidden="false" data-av_icon="" data-av_iconfont="entypo-fontello" title="Youtube" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li>
      <li class="social_bookmarks_twitter av-social-link-twitter social_icon_3">
          <a target="_blank" aria-label="Link to Twitter" href="https://twitter.com/iskconGrandRapids" aria-hidden="false" data-av_icon="" data-av_iconfont="entypo-fontello" title="Twitter" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
      <li class="social_bookmarks_instagram av-social-link-instagram social_icon_4">
          <a target="_blank" aria-label="Link to Instagram" href="https://www.instagram.com/iskcon_grandrapids" aria-hidden="false" data-av_icon="" data-av_iconfont="entypo-fontello" title="Instagram" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li></ul>
  </div>
</div>