<div
  class="footer-main-container fixed-bottom"
  style="
    color: white;
    background-color: #111111;
    display: flex;
    font-size: 13px;
  "
>
  <div
    class="container footer-sub-container"
    style="display: flex; align-items: center"
  >
    <span class="copyright"
      >©2021 ISKCON Grand Rapids. All Rights Reserved.
    </span>
    <div>
      <a
        style="margin-left: 0.5em"
        target="_blank"
        aria-label="Link to Facebook"
        href="https://www.facebook.com/IskconGrandRapids"
        aria-hidden="false"
        data-av_icon=""
        data-av_iconfont="entypo-fontello"
        title="Facebook"
        rel="noopener noreferrer"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        style="margin-left: 0.5em"
        target="_blank"
        aria-label="Link to Youtube"
        href="https://www.youtube.com/user/kishorekishori"
        aria-hidden="false"
        data-av_icon=""
        data-av_iconfont="entypo-fontello"
        title="Youtube"
        rel="noopener noreferrer"
        ><i class="fab fa-youtube"></i
      ></a>
      <a
        style="margin-left: 0.5em"
        target="_blank"
        aria-label="Link to Twitter"
        href="https://twitter.com/iskconGrandRapids"
        aria-hidden="false"
        data-av_icon=""
        data-av_iconfont="entypo-fontello"
        title="Twitter"
        rel="noopener noreferrer"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        style="margin-left: 0.5em"
        target="_blank"
        aria-label="Link to Instagram"
        href="https://www.instagram.com/iskcon_grandrapids"
        aria-hidden="false"
        data-av_icon=""
        data-av_iconfont="entypo-fontello"
        title="Instagram"
        rel="noopener noreferrer"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
