@media (min-width: 500px) {
      .navbar {
        padding: 20px;
        background-color: #fff !important;
      }
}

@media (max-width: 500px) {
  .donation {
    display: none;
  }
}

.navbar .getstarted {
    background: #d9232d;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
  }
  
  .navbar .getstarted:hover {
    color: #fff;
    background: #e1444d;
  }