<div id="hero" class="vc_row-fluid our-services" style="margin-top:5em;">
  <div class="container">
    <div class="vc_col-sm-12 wpb_column vc_column_container ">
        <div class="wpb_wrapper">

            <h2 class="section-title wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Our Services</h2>
            <!-- /.section-title -->
            <div class="section-detail wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">By rendering
                devotional service unto the Personality of Godhead, Sri Krishna, one immediately acquires
                causeless knowledge and detachment from the world. - <strong>Śrīmad-Bhāgavatam,
                    01.02.07 </strong>
            </div><!-- /.section-detail -->
            <div class="service">
                <div class="col-md-3 service-details">
                    <div class="aarti aarti1 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <a href="festivals.php">
                            <div class="head">FESTIVALS</div>
                            </a><div class="contenet"><a href="festivals.php">
                        </a>
                        With myriad of colourful decorations, multi-course feasts, elaborate rituals,
                        kirtans, dance and dramas, the festivals makes spiritual progress a fun-filled
                        experience.
                    </div>
                </div>
                <div class="aarti aarti2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <a href="sunday-feast.php">
                        <div class="head">SUNDAY FEAST</div>
                    </a>
                    <div class="contenet">
                        Ecstatic celebrations on Every Sunday. Please arrive at the temple by 11:00 AM to
                        participate in ecstatic devotional bhajans.
                    </div>
                </div>
                <div class="aarti aarti3 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <a href="university-outreach.php">
                        <div class="head">UNIVERSITY OUTREACH</div>
                    </a>
                    <div class="contenet">
                        ISKCON volunteers are running a club at Ohio State University under ISKCON Yoga
                        Circle by partnering with current OSU students.
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="provide" style="visibility: visible; ">
                    <div class="circle" style="visibility: visible; ">
                        <span><div class="text"><b>JOIN OUR</b><br><strong>Family</strong></div></span>
                    </div>
                    <!-- Aarti -->
                    <div class="col-5">
                        <a href="festivals.php">
                            <div class="item hand" style="visibility: visible; ">
                                <div class="item-element">
                                    <span class="fa fa-fire"></span>
                                </div>
                            </div>
                        </a>
                    </div><!-- /.col-md-3 -->

                    <!-- Harinaam -->
                    <div class="col-5">
                        <a href="harinaam.php">
                            <div class="item hand1" style="visibility: visible; ">
                                <div class="item-element">
                                    <span class="fa fa-american-sign-language-interpreting"></span>
                                </div>
                            </div>
                        </a>
                    </div><!-- /.col-md-3 -->

                    <!-- Sunday Feast -->
                    <div class="col-5">
                        <a href="sunday-feast.php">
                            <div class="item hand2" style="visibility: visible; ">
                                <div class="item-element">
                                    <span class="fa fa-heart"></span>
                                </div>
                            </div>
                        </a>
                    </div><!-- /.col-md-3 -->

                    <!-- Book Distribution -->
                    <div class="col-5">
                        <a href="book-distribution.php">
                            <div class="item hand3">
                                <div class="item-element">
                                    <span class="fa fa-book"></span>
                                </div>
                            </div>
                        </a>
                    </div><!-- /.col-md-3 -->

                    <!-- University Outreach -->
                    <div class="col-5">
                        <a href="university-outreach.php">
                            <div class="item hand4">
                                <div class="item-element">
                                    <span class="fa fa-graduation-cap"></span>
                                </div>
                            </div>
                        </a>
                    </div><!-- /.col-md-3 -->

                    <!-- Sunday School-->
                    <div class="col-5">
                        <a href="sunday-school.php">
                            <div class="item hand5">
                                <div class="item-element">
                                    <span class="fa fa-pagelines"></span>
                                </div>
                            </div>
                        </a>
                    </div><!-- /.col-md-3 -->
                </div>
            </div>
            <div class="col-md-3 service-details">
                <div class="harinaam harinaam1 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <a href="harinaam.php">
                        <div class="head">HARINAAM</div>
                    </a>
                    <div class="contenet">
                        "...this sankirtana or street chanting must go on, it is our most important program.
                        Lord Caitanya's movement means the sankirtana movement.."
                    </div>
                </div>
                <div class="harinaam harinaam2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <a href="book-distribution.php">
                        <div class="head">BOOK DISTRIBUTION</div>
                    </a>
                    <div class="contenet">
                        Book distribution of Vedic literature on weekends, special occasions and during
                        festivals by going out on streets, door to door and at different public places.
                    </div>
                </div>
                <div class="harinaam harinaam3 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <a href="sunday-school.php">
                        <div class="head">SUNDAY SCHOOL</div>
                    </a>
                    <div class="contenet">
                        Two Sunday school classes every Sunday for children with ages 4 to 14. Children are
                        taught Vedic knowledge in a very easy and practical way in a fun field environment.
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
</div>

</div>